<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Page</h1>
  <% students.forEach(student => { %>
    <p>Id: <%= student.id %></p>
    <p>Name: <%= student.name %></p>
    <p>Email: <%= student.email %></p>
    <p>Delete : <a href="/ui/api/<%= student._id %>">Delete</a></p>
    <p>Update : <a href="/ui/student/<%= student._id %>">Update</a></p>
  <% }); %>
</body>
</html>